<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a class="nav-brand miniHeader2" id="gameHeader"></a><br>
                    <a class="nav-brand text-gradient3" id="headerBody">
                        Hamber
                        <span>
                          <%=selectedMatch.ourScore %>&ndash;<%=selectedMatch.theirScore%>
                        </span>
                        <%=selectedMatch.team %>
                      </a>
                    
                </div>
            </div>
        </nav>
    </header>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            try {
                const path = window.location.pathname;
                let headerVal;
                if (path.includes('/live-tracking')) {
                    headerVal = 'Current Score';
                }                 
                else {

                    headerVal = 'FINAL SCORE';
                }

                // Set the header text
                document.getElementById('gameHeader').innerText = headerVal;
            } catch (error) {
                console.error('Error in script:', error);
            }
        });
    </script>
    <style>
        #headerBody {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 1ch; 
            font-variant-numeric: tabular-nums; 
            font-size: 24px; 
            }

        #headerText{
                color: aliceblue;
                font-size: 20px;
                font-size: 100%; 
                text-align: center;
            }
    </style>

</body>
</html>